<html>
<body style="background-color:rgb(255, 255, 255);">
<center>
  <h1>BTC TRADING</h1>

  <form action="/predict" method="post" >
      
          <label for="Open">Open:</label><br>
          <input type="text" id="Open" name="Open"><br>
          <label for="Close">Close:</label><br>
          <input type="text" id="Close" name="Close"><br>
          <label for="Open">Low:</label><br>
          <input type="text" id="Low" name="Low"><br>
          
  <h1><input id="predict" type="submit" value="Calculate High!!!!" ></h1>

 
  
</form></center>
</body>
</html>
